.header_laMarca {
  background-color: #000000;
  padding: 0 15rem; }
  .header_laMarca .navbar {
    padding-top: 1rem;
    margin-top: 0;
    border-bottom: 1px solid rgba(245, 245, 245, 0.25); }
    .header_laMarca .navbar .divCtn {
      width: 100%;
      align-items: stretch; }
      .header_laMarca .navbar .divCtn .navbar-brand {
        margin: 0 auto;
        position: relative;
        color: rgba(245, 245, 245, 0.827);
        text-transform: uppercase;
        font-size: 14px;
        padding: 0;
        font-weight: 400;
        text-align: justify; }
        .header_laMarca .navbar .divCtn .navbar-brand::before {
          content: " ";
          position: absolute;
          top: unset;
          bottom: -9px;
          left: -2.5%;
          background-color: #d5ab73;
          width: 0;
          height: 2px;
          transition: .2s all; }
        .header_laMarca .navbar .divCtn .navbar-brand:hover {
          color: #d5ab73; }
          .header_laMarca .navbar .divCtn .navbar-brand:hover::before {
            right: 0;
            width: 110%; }
        .header_laMarca .navbar .divCtn .navbar-brand .img_logotipoNavbar {
          width: 180px; }
      .header_laMarca .navbar .divCtn .navbar-toggler {
        background-color: #df9b06; }
      .header_laMarca .navbar .divCtn .collap {
        width: 100%;
        flex-wrap: wrap-reverse;
        align-items: stretch; }
        .header_laMarca .navbar .divCtn .collap .navbar-nav {
          width: 100%;
          margin: 0 auto;
          justify-content: space-evenly;
          flex-wrap: wrap-reverse;
          align-items: flex-start; }
          .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item {
            margin: 0 10px;
            padding: 0; }
            .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .nav-link {
              position: relative;
              color: rgba(245, 245, 245, 0.827);
              text-transform: uppercase;
              font-size: 14px;
              padding: 0;
              font-weight: 400;
              text-align: justify; }
              .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .nav-link::before {
                content: " ";
                position: absolute;
                top: unset;
                bottom: -9px;
                left: -2.5%;
                background-color: #d5ab73;
                width: 0;
                height: 2px;
                transition: .2s all; }
              .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .nav-link:hover {
                color: #d5ab73; }
                .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .nav-link:hover::before {
                  right: 0;
                  width: 110%; }
            .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .ul_logosredesNavbar {
              list-style-type: none;
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              margin: auto auto;
              margin-right: 0;
              padding: 0; }
              .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .ul_logosredesNavbar .li_logosRedesNavbar {
                margin: 0 5px;
                padding: 0;
                position: relative;
                color: rgba(245, 245, 245, 0.827);
                text-transform: uppercase;
                font-size: 14px;
                padding: 0;
                font-weight: 400;
                text-align: justify; }
                .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .ul_logosredesNavbar .li_logosRedesNavbar::before {
                  content: " ";
                  position: absolute;
                  top: unset;
                  bottom: -9px;
                  left: -2.5%;
                  background-color: #d5ab73;
                  width: 0;
                  height: 2px;
                  transition: .2s all; }
                .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .ul_logosredesNavbar .li_logosRedesNavbar:hover {
                  color: #d5ab73; }
                  .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .ul_logosredesNavbar .li_logosRedesNavbar:hover::before {
                    right: 0;
                    width: 110%; }
                .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .ul_logosredesNavbar .li_logosRedesNavbar .img_redesSocialNavbar {
                  filter: invert(100%) sepia(0%) saturate(7467%) hue-rotate(131deg) brightness(99%) contrast(109%);
                  width: 28px;
                  height: auto; }
                  .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .ul_logosredesNavbar .li_logosRedesNavbar .img_redesSocialNavbar:hover {
                    filter: invert(72%) sepia(33%) saturate(474%) hue-rotate(355deg) brightness(93%) contrast(87%); }
  .header_laMarca .div_infoHeader {
    width: 35%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .header_laMarca .div_infoHeader .ctn_div_infoHeader {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-left: 1rem; }
      .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn1_p-indicator_img-bgtext .p_indicator {
        font-size: 1.2rem;
        font-weight: 400;
        color: rgba(245, 245, 245, 0.827);
        word-wrap: break-word; }
      .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn1_p-indicator_img-bgtext .img_bgtext {
        width: 95%;
        height: auto; }
      .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn2_p-indicator_img-bgtext {
        margin-top: .5rem; }
        .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn2_p-indicator_img-bgtext p {
          color: rgba(245, 245, 245, 0.827); }

@media screen and (max-width: 1200px) {
  .header_laMarca {
    padding: 0 8rem; }
    .header_laMarca .navbar .divCtn .navbar-brand .img_logotipoNavbar {
      width: 150px; }
    .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .nav-link {
      font-size: 12px; }
    .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .ul_logosredesNavbar .li_logosRedesNavbar .img_redesSocialNavbar {
      width: 24px; }
    .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn1_p-indicator_img-bgtext .p_indicator {
      font-size: 1rem; }
    .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn1_p-indicator_img-bgtext .img_bgtext {
      width: 90%; }
    .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn2_p-indicator_img-bgtext p {
      color: rgba(245, 245, 245, 0.827);
      font-size: .8rem; } }

@media screen and (max-width: 992px) {
  .header_laMarca .navbar .divCtn {
    display: flex;
    justify-content: space-between; }
    .header_laMarca .navbar .divCtn .navbar-brand {
      margin: 0; }
      .header_laMarca .navbar .divCtn .navbar-brand .img_logotipoNavbar {
        width: 200px; }
    .header_laMarca .navbar .divCtn .collap .navbar-nav {
      align-items: center; }
      .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item {
        margin-bottom: 1rem; }
        .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .nav-link {
          letter-spacing: 3px; }
        .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .ul_logosredesNavbar .li_logosRedesNavbar .img_redesSocialNavbar {
          width: 36px;
          margin: 0 1rem; }
  .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn1_p-indicator_img-bgtext .p_indicator {
    font-size: .8rem; } }

@media screen and (max-width: 768px) {
  .header_laMarca {
    padding: 0 3rem; }
    .header_laMarca .navbar .divCtn .navbar-brand .img_logotipoNavbar {
      width: 180px; }
    .header_laMarca .navbar .divCtn .collap .navbar-nav {
      align-items: center;
      margin-top: 1rem; }
      .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item {
        margin-bottom: 1rem; }
        .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .nav-link {
          letter-spacing: 3px;
          font-size: 12px; }
        .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item .ul_logosredesNavbar .li_logosRedesNavbar .img_redesSocialNavbar {
          width: 36px;
          margin: 0 1rem; }
    .header_laMarca .div_infoHeader {
      width: 100%; }
      .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn1_p-indicator_img-bgtext {
        text-align: center; }
        .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn1_p-indicator_img-bgtext .p_indicator {
          font-size: .6rem; }
        .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn1_p-indicator_img-bgtext .img_bgtext {
          width: 50%;
          text-align: center; }
      .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn2_p-indicator_img-bgtext {
        text-align: center; }
        .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn2_p-indicator_img-bgtext p {
          font-size: .8rem;
          padding: 1rem 3rem; } }

@media screen and (max-width: 600px) {
  .header_laMarca {
    padding: 0 3rem; }
    .header_laMarca .navbar .divCtn {
      flex-direction: column;
      align-items: center; }
      .header_laMarca .navbar .divCtn .navbar-brand {
        text-align: center;
        margin-bottom: 20px; }
        .header_laMarca .navbar .divCtn .navbar-brand .img_logotipoNavbar {
          width: 180px; }
      .header_laMarca .navbar .divCtn .collap .navbar-nav {
        align-items: center;
        margin-top: 1rem; }
        .header_laMarca .navbar .divCtn .collap .navbar-nav .nav-item {
          margin-bottom: 1rem; }
    .header_laMarca .div_infoHeader .ctn_div_infoHeader .ctn2_p-indicator_img-bgtext p {
      padding: 1rem; } }

.section1_main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section1_main .ctn_imgs_section1_main {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 0 4rem;
    min-height: 700px; }
    .section1_main .ctn_imgs_section1_main .divCtn_imgBack {
      position: absolute;
      width: 90%;
      text-align: center;
      top: -100px; }
      .section1_main .ctn_imgs_section1_main .divCtn_imgBack .imgs_seccion1 {
        width: 90%;
        height: auto; }
  .section1_main .ctn_text_section1 {
    display: flex;
    justify-content: center;
    padding-top: 12rem;
    margin-bottom: 2rem;
    height: 100px;
    align-items: center; }
    .section1_main .ctn_text_section1 h4 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      font-size: 2rem; }
      .section1_main .ctn_text_section1 h4 span {
        margin-left: 2rem; }
    .section1_main .ctn_text_section1 div {
      align-self: flex-end;
      margin-left: 3rem; }

@media screen and (max-width: 1200px) {
  .section1_main .ctn_imgs_section1_main {
    min-height: 490px; }
    .section1_main .ctn_imgs_section1_main .divCtn_imgBack .imgs_seccion1 {
      width: 100%; }
  .section1_main .ctn_text_section1 {
    padding-top: 13rem; }
    .section1_main .ctn_text_section1 h4 {
      font-size: 1.5rem; }
      .section1_main .ctn_text_section1 h4 span {
        margin-left: 1rem; }
    .section1_main .ctn_text_section1 div img {
      width: 60px; } }

@media screen and (max-width: 992px) {
  .section1_main .ctn_imgs_section1_main {
    min-height: 480px; }
    .section1_main .ctn_imgs_section1_main .divCtn_imgBack {
      top: -80px; }
  .section1_main .ctn_text_section1 {
    padding-top: 6rem; }
    .section1_main .ctn_text_section1 h4 {
      font-size: 1.5rem; }
      .section1_main .ctn_text_section1 h4 span {
        margin-left: 1rem; }
    .section1_main .ctn_text_section1 div img {
      width: 50px; } }

@media screen and (max-width: 768px) {
  .section1_main .ctn_imgs_section1_main .divCtn_imgBack {
    top: 10px; }
  .section1_main .ctn_text_section1 {
    padding-top: 3rem; }
    .section1_main .ctn_text_section1 h4 {
      font-size: .7rem; }
      .section1_main .ctn_text_section1 h4 span {
        margin-left: 1rem; } }

@media screen and (max-width: 600px) {
  .section1_main .ctn_imgs_section1_main {
    min-height: 400px; }
  .section1_main .ctn_text_section1 {
    height: 40px;
    padding-top: 0; }
    .section1_main .ctn_text_section1 h4 {
      font-size: .7rem; }
      .section1_main .ctn_text_section1 h4 span {
        margin-left: 1rem; }
    .section1_main .ctn_text_section1 div {
      align-self: flex-start; }
      .section1_main .ctn_text_section1 div img {
        width: 30px; } }

@media screen and (max-width: 400px) {
  .section1_main .ctn_imgs_section1_main {
    min-height: 270px; } }

.section2_main {
  width: 100%;
  margin: 0; }
  .section2_main .ctn_part1 {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    background-image: url("/assets/bg-asset-2.png");
    background-size: cover;
    background-origin: inherit;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 5rem; }
    .section2_main .ctn_part1 .div_ctnParrafo1_main {
      width: 330px;
      display: flex;
      align-items: flex-start;
      padding-top: 3rem; }
      .section2_main .ctn_part1 .div_ctnParrafo1_main .parrafo1_section2_main {
        font-weight: 500;
        color: rgba(245, 245, 245, 0.827);
        padding: .5rem; }
    .section2_main .ctn_part1 .div_ctnParrafo2_main {
      width: 330px;
      display: flex;
      align-items: flex-start;
      padding-top: 3rem; }
      .section2_main .ctn_part1 .div_ctnParrafo2_main .parrafo2_section2_main {
        font-weight: 500;
        color: rgba(245, 245, 245, 0.827);
        padding: .5rem; }
  .section2_main .ctn_part2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 400px; }
    .section2_main .ctn_part2 .ctn_img_part2 {
      width: 370px;
      position: relative; }
      .section2_main .ctn_part2 .ctn_img_part2 .img_izq_parte2 {
        position: absolute;
        width: 100%;
        top: -500px;
        left: 0px; }
    .section2_main .ctn_part2 .ctn_text_part2 {
      align-self: flex-start;
      width: 470px;
      margin: 3rem 0 0 2rem;
      margin-bottom: 3rem; }
      .section2_main .ctn_part2 .ctn_text_part2 h4 {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 4px;
        font-size: 2rem;
        margin-bottom: 2rem; }
      .section2_main .ctn_part2 .ctn_text_part2 p {
        font-size: 1rem; }

@media screen and (max-width: 1200px) {
  .section2_main .ctn_part1 {
    min-height: 300px; }
  .section2_main .ctn_part2 {
    min-height: 300px; }
    .section2_main .ctn_part2 .ctn_img_part2 {
      width: 300px;
      position: relative; }
      .section2_main .ctn_part2 .ctn_img_part2 .img_izq_parte2 {
        top: -400px; }
    .section2_main .ctn_part2 .ctn_text_part2 h4 {
      font-size: 1.5rem; }
    .section2_main .ctn_part2 .ctn_text_part2 p {
      font-weight: 400; } }

@media screen and (max-width: 992px) {
  .section2_main .ctn_part1 {
    min-height: 250px;
    height: 200px; }
    .section2_main .ctn_part1 .div_ctnParrafo1_main .parrafo1_section2_main {
      font-size: 14px; }
    .section2_main .ctn_part1 .div_ctnParrafo2_main .parrafo2_section2_main {
      font-size: 14px; }
  .section2_main .ctn_part2 {
    min-height: 250px; }
    .section2_main .ctn_part2 .ctn_img_part2 {
      width: 300px;
      position: relative; }
      .section2_main .ctn_part2 .ctn_img_part2 .img_izq_parte2 {
        top: -355px;
        left: 50px; }
    .section2_main .ctn_part2 .ctn_text_part2 {
      padding-left: 2.5rem; }
      .section2_main .ctn_part2 .ctn_text_part2 h4 {
        font-size: 1.5rem; }
      .section2_main .ctn_part2 .ctn_text_part2 p {
        font-weight: 400;
        font-size: 16px; } }

@media screen and (max-width: 768px) {
  .section2_main .ctn_part1 {
    height: 300px;
    padding: 0 2rem;
    flex-direction: column;
    justify-content: flex-start; }
    .section2_main .ctn_part1 .div_ctnParrafo1_main {
      padding-top: 0;
      width: 70%;
      margin: 0 auto; }
      .section2_main .ctn_part1 .div_ctnParrafo1_main .parrafo1_section2_main {
        font-size: 14px; }
    .section2_main .ctn_part1 .div_ctnParrafo2_main {
      padding-top: 0;
      width: 60%; }
      .section2_main .ctn_part1 .div_ctnParrafo2_main .parrafo2_section2_main {
        font-size: 14px; }
  .section2_main .ctn_part2 {
    flex-direction: row-reverse; }
    .section2_main .ctn_part2 .ctn_img_part2 .img_izq_parte2 {
      top: -410px;
      left: -20px;
      width: 220px; }
    .section2_main .ctn_part2 .ctn_text_part2 {
      margin: 0.3rem 3rem 0 0; }
      .section2_main .ctn_part2 .ctn_text_part2 h4 {
        font-size: 1.3rem;
        margin-bottom: .3rem; }
      .section2_main .ctn_part2 .ctn_text_part2 p {
        font-size: 1rem; } }

@media screen and (max-width: 600px) {
  .section2_main .ctn_part1 {
    height: 500px;
    padding: 0 .6rem;
    justify-content: space-evenly; }
    .section2_main .ctn_part1 .div_ctnParrafo1_main {
      width: 95%; }
      .section2_main .ctn_part1 .div_ctnParrafo1_main .parrafo1_section2_main {
        font-size: 1.05rem; }
    .section2_main .ctn_part1 .div_ctnParrafo2_main {
      width: 95%;
      margin: 0 auto; }
      .section2_main .ctn_part1 .div_ctnParrafo2_main .parrafo2_section2_main {
        font-size: 1.05rem; }
  .section2_main .ctn_part2 {
    flex-direction: column;
    align-items: center; }
    .section2_main .ctn_part2 .ctn_img_part2 {
      width: 90%;
      text-align: center; }
      .section2_main .ctn_part2 .ctn_img_part2 .img_izq_parte2 {
        position: revert;
        width: 100%;
        height: 400px; }
    .section2_main .ctn_part2 .ctn_text_part2 {
      width: 90%;
      padding: .3rem;
      margin: 0 auto; }
      .section2_main .ctn_part2 .ctn_text_part2 h4 {
        margin-bottom: 1.6rem; }
      .section2_main .ctn_part2 .ctn_text_part2 p {
        font-size: 1.2rem; } }

.section3_main-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3.5rem;
  text-align: center; }
  .section3_main-form h4 {
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: 4px; }
  .section3_main-form p {
    font-size: 1.2rem; }
  .section3_main-form .form_main {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 80%;
    margin-top: 2rem; }
    .section3_main-form .form_main .partLeft_form_laMarca {
      width: 50%; }
      .section3_main-form .form_main .partLeft_form_laMarca div {
        width: 100%;
        padding: .4rem; }
        .section3_main-form .form_main .partLeft_form_laMarca div .inputs {
          width: 100%;
          background: lightgray;
          border: none;
          outline: none;
          padding: .3rem; }
          .section3_main-form .form_main .partLeft_form_laMarca div .inputs:focus {
            outline: 1px solid gray; }
          .section3_main-form .form_main .partLeft_form_laMarca div .inputs.inputSelect {
            background-image: url("/assets/arrow.png");
            background-repeat: no-repeat;
            background-position: right 10px center;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none; }
    .section3_main-form .form_main .partRight_form_laMarca {
      width: 50%; }
      .section3_main-form .form_main .partRight_form_laMarca div {
        width: 100%;
        padding: .4rem; }
        .section3_main-form .form_main .partRight_form_laMarca div .inputs {
          width: 100%;
          background: lightgray;
          border: none;
          outline: none;
          padding: .3rem; }
          .section3_main-form .form_main .partRight_form_laMarca div .inputs:focus {
            outline: 1px solid gray; }
      .section3_main-form .form_main .partRight_form_laMarca .div_checkTerminSubmit {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0; }
        .section3_main-form .form_main .partRight_form_laMarca .div_checkTerminSubmit .div_ctnCheckbox {
          text-align: left; }
          .section3_main-form .form_main .partRight_form_laMarca .div_checkTerminSubmit .div_ctnCheckbox input {
            width: min-content; }
          .section3_main-form .form_main .partRight_form_laMarca .div_checkTerminSubmit .div_ctnCheckbox label {
            text-decoration: underline;
            margin-left: .5rem; }
        .section3_main-form .form_main .partRight_form_laMarca .div_checkTerminSubmit .div_ctnButtom {
          width: 40%; }
          .section3_main-form .form_main .partRight_form_laMarca .div_checkTerminSubmit .div_ctnButtom button {
            letter-spacing: 2px;
            background-color: #df9b06;
            border: none;
            padding: 0.2rem 1rem;
            text-transform: uppercase;
            transition: .2s all;
            box-shadow: 0 3px 5px #000000;
            cursor: pointer; }
            .section3_main-form .form_main .partRight_form_laMarca .div_checkTerminSubmit .div_ctnButtom button:hover {
              transform: scale(1.02); }

@media screen and (max-width: 1200px) {
  .section3_main-form p {
    width: 80%;
    margin: 0 auto; }
  .section3_main-form .form_main {
    width: 90%; } }

@media screen and (max-width: 992px) {
  .section3_main-form h4 {
    font-size: 2rem; }
  .section3_main-form p {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem; }
  .section3_main-form .form_main {
    flex-direction: column;
    width: 75%; }
    .section3_main-form .form_main .partLeft_form_laMarca {
      width: 80%;
      margin: 0 auto; }
    .section3_main-form .form_main .partRight_form_laMarca {
      width: 80%;
      margin: 0 auto; } }

@media screen and (max-width: 768px) {
  .section3_main-form {
    margin-top: 0; }
    .section3_main-form h4 {
      font-size: 1.7rem;
      width: 85%;
      margin: 0 auto; }
    .section3_main-form p {
      width: 80%;
      margin: 0 auto;
      font-size: 1rem; }
    .section3_main-form .form_main {
      width: 90%; } }

@media screen and (max-width: 600px) {
  .section3_main-form {
    margin-top: 3rem; }
    .section3_main-form h4 {
      margin-bottom: 1.5rem; }
    .section3_main-form p {
      font-size: 1.2  rem; }
    .section3_main-form .form_main {
      width: 95%; }
      .section3_main-form .form_main .div_checkTerminSubmit {
        flex-direction: column;
        justify-content: center; }
        .section3_main-form .form_main .div_checkTerminSubmit .div_ctnCheckbox {
          display: flex;
          justify-content: center;
          align-items: center; }
        .section3_main-form .form_main .div_checkTerminSubmit .div_ctnButtom {
          width: 50%;
          margin: 0 auto; } }

.modal_ok {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000077;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeinModal;
  animation-duration: .5s;
  animation-timing-function: linear; }
  .modal_ok .innerDiv {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: #d5ab73;
    box-shadow: 0px 0px 15px #000000;
    border-radius: 20px;
    opacity: 1; }
    .modal_ok .innerDiv h4 {
      text-align: center;
      color: whitesmoke; }
    .modal_ok .innerDiv button {
      letter-spacing: 2px;
      background-color: #df9b06;
      border: none;
      padding: 0.3rem;
      text-transform: uppercase;
      transition: .2s all;
      box-shadow: 0 3px 5px #000000;
      cursor: pointer; }
      .modal_ok .innerDiv button:hover {
        transform: scale(1.02); }

@keyframes fadeinModal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.footer_laMarca {
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  bottom: 0;
  margin-top: 3rem; }
  .footer_laMarca p {
    color: rgba(245, 245, 245, 0.827); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  background-color: white; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

input::-webkit-input-placeholder {
  text-transform: uppercase;
  padding: .3rem; }
