// color fondo header footer
$bgBlack: #000000;
// color links
$colorItemsNavBar: rgba(245, 245, 245, 0.827);
// color botones o para efectos hover (mismo color de imagen "mens clear")
$underLineNavbar: #d5ab73;
// color bordes inferiores o lineas divisorias
$colorBottonBorder: rgba(245, 245, 245, 0.25);
// color1 botones
$bg1_botones: #df9b06;