.header_laMarca {
    background-color: $bgBlack;
    padding: 0 15rem;

    // nav contenedor general: logo, items, redes
    .navbar {
        padding-top: 1rem;
        margin-top: 0;
        border-bottom: 1px solid $colorBottonBorder;

        .divCtn {
            width: 100%;

            .navbar-brand {
                margin: 0 auto;
                // logotipo navbar
                .img_logotipoNavbar {
                    width: 180px;
                }
            }

            // boton hamburguesa
            .navbar-toggler {
                background-color: $backBotones;
            }

            // div contenedor items Navbar
            .collap {
                width: 100%;
                flex-wrap: wrap-reverse;
                .navbar-nav {
                    width: 100%;
                    margin: 0 auto;
                    justify-content: space-evenly;
                    flex-wrap: wrap-reverse;
                    align-items: flex-start;

                    .nav-item {
                        margin: 0 10px;
                        padding: 0;
                        // items 
                        .nav-link {
                            color: $colorItemsNavBar;
                            text-transform: uppercase;
                            font-size: 14px;
                            padding: 0;
                            font-weight: 400;
                            text-align: justify;
                        }

                        // ul logos redes navbar 
                        .ul_logosredesNavbar {
                            list-style-type: none;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            margin: auto auto;
                            margin-right: 0;
                            padding: 0;

                            .li_logosRedesNavbar {
                                margin: 0 5px;
                                padding: 0;
                                // logos redes navbar
                                .img_redesSocialNavbar {
                                    filter: invert(100%) sepia(0%) saturate(7467%) hue-rotate(131deg) brightness(99%) contrast(109%);
                                    width: 28px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // info header la marca
    .div_infoHeader {
        width: 35%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .ctn_div_infoHeader {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-left: 1rem;

            .ctn1_p-indicator_img-bgtext {
                .p_indicator {
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: $colorItemsNavBar;
                    word-wrap: break-word;
                }

                // imagen texto la marca
                .img_bgtext {
                    width: 95%;
                    height: auto;
                }
            }

            // contenedor texto infoHeader
            .ctn2_p-indicator_img-bgtext {
                margin-top: .5rem;

                p {
                    color: $colorItemsNavBar;
                }
            }
        }
    }
}