.section1_main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // contenedor imagenes
    .ctn_imgs_section1_main {
        position: relative;
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        padding: 0 4rem;
        min-height: 700px;
        .divCtn_imgBack {
            position: absolute;
            width: 90%;
            text-align: center;
            top: -100px;
            .imgs_seccion1 {
                width: 90%;
                height: auto;
            }
        }
    }
    // contenedor texto debajo de imagenes superpuestas
    .ctn_text_section1 {
        display: flex;
        justify-content: center;
        padding-top: 12rem;
        margin-bottom: 2rem;
        height: 100px;
        align-items: center;
        h4 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 400;
            font-size: 2rem;
            span {
                margin-left: 2rem;
            }
        }
        div {
            align-self: flex-end;
            margin-left: 3rem;
        }
    }
}